<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="logs/nlog.log">
  <!--
  See http://nlog-project.org/wiki/Configuration_file
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="YesWay.Nlog.RabbitMq" />
  </extensions>
  <!-- 输出格式 -->
  <variable name="ExceptionMsg" value="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
  <variable name="ErrMsg" value="${time} [${threadid}] [${level}] - ${message} ${ExceptionMsg}- ${newline} ${stacktrace}" />
  <variable name="BasicLayout" value="${time} [${threadid}] [${level}] - ${message} ${onexception:inner=${ExceptionMsg}}" />
  <targets>
    <target name="DefaultLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}.log" layout="${BasicLayout}" />
      </target>
    </target>
    <target name="ErrorLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}_Error.log" layout="${ErrMsg}" />
      </target>
    </target>
    <target name="RabbitMQTarget" xsi:type="AsyncWrapper">
      <target xsi:type="RabbitMQ"
      username="admin"
	    password="admin"
      vhost="/"
	    hostname="yesway-rabbitmq-server.service.consul"
	    exchange="log.exchange"
      routekey=""
	    port="5672"
	    maxBuffer="10240"
	    SerizalibleType="UseBinary"
	    appid="YesWay.Vehicle.Affair.Service">
        <field name="threadid" layout="${threadid}"/>
        <field name="time" layout="${time}"/>
        <field name="basedir" layout="${basedir}"/>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="RabbitMQTarget" />
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
    <logger name="*" minlevel="Trace" writeTo="DefaultLog" />
  </rules>
</nlog>